<h2>Course List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.title}}</td>
            <td>{{course.description}}</td>
            <td>
                <button (click)="updateCourse(course.id)" class="btn btn-info">Update</button>
                <button (click)="deleteCourse(course.id)" class="btn btn-danger"
                    style="margin-left: 10px">Delete</button>
                    <button (click)="courseDetails(course.id)" class="btn btn-info"
                    style="margin-left: 10px">View</button>
            </td>

        </tr>
    </tbody>
</table>