<div class="col-md-6 offset-md-3">
    <h3>Update Course</h3>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="course.title" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" id="description" name="description"
                [(ngModel)]="course.description" />
        </div>
        <button class="btn btn-success" type="submit">Submit</button>

    </form>

</div>